[project]
	description = I will remove this. It is used at the first steps only
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeno Attila Balasko (balaskoa)
[access "refs/for/refs/*"]
	read = group user/Jeno Attila Balasko (balaskoa)
	push = group user/Jeno Attila Balasko (balaskoa)
	label-Code-Review = -2..+2 group user/Jeno Attila Balasko (balaskoa)
	label-Verified = -1..+1 group user/Jeno Attila Balasko (balaskoa)
	rebase = group user/Jeno Attila Balasko (balaskoa)
	removeReviewer = group user/Jeno Attila Balasko (balaskoa)
	submit = group user/Jeno Attila Balasko (balaskoa)
[access "refs/heads/*"]
	read = group user/Jeno Attila Balasko (balaskoa)
	create = group user/Jeno Attila Balasko (balaskoa)
	push = +force group user/Jeno Attila Balasko (balaskoa)
	pushMerge = group user/Jeno Attila Balasko (balaskoa)
[access "refs/tags/*"]
	push = +force group user/Jeno Attila Balasko (balaskoa)
	pushTag = group user/Jeno Attila Balasko (balaskoa)
	pushSignedTag = group user/Jeno Attila Balasko (balaskoa)
